@import 'tailwindcss';

@theme {
  --color-brand-black: #000000;
  --color-brand-blue: #0066cc;
}

/* Force Tailwind to generate these classes */
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
